<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/overview">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Übersicht</li>
</ol>

<table id="overview" class="table table-bordered">
  <tbody>

    {{#each rows}}
    <tr>
        <td>{{this.username}}</td>

          {{#each this}}
            {{#contains 'p' @key }}

              {{#ifEqual @key 'reached_points'}}
                  {{#ifEqual this 0}} <td class="redCell" style="font-size:20px"><b>{{this}}</b></td> {{/ifEqual}}
                  {{#ifNotEqual this 0}} <td class="greenCell" style="font-size:20px"><b>{{this}}</b></td> {{/ifNotEqual}}              
              {{/ifEqual}}
              {{#ifNotEqual @key 'reached_points'}}
                  {{#ifEqual this 0}} <td class="redCell" style="opacity: 0.7; vertical-align: middle">{{this}}</td> {{/ifEqual}}
                  {{#ifNotEqual this 0}} <td class="greenCell" style="opacity: 0.7; vertical-align: middle">{{this}}</td> {{/ifNotEqual}}              
              {{/ifNotEqual}}

            {{/contains}}
          {{/each}}
         
    </tr>
    {{/each}}

  </tbody>
</table>