
<div class="row">
  <div class="col-6">
    <h3>Meine Arbeitsblätter</h3>
  </div>
</div>

<br>

<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Nr.</th>
      <th scope="col">Name </th>
      <th scope="col">Beschreibung</th>
      <th scope="col">Punkte</th>
    </tr>
  </thead>
  <tbody>

    {{#each rows}}
    <tr>
      <th scope="row">{{this.sheet_id}}</th>
      <!--<td><a href="/{{this.name}}">{{this.name}}</a></td>-->
      <td><a href="/displayOneSheet/{{this.sheet_id}}" style="text-decoration: none">{{this.name}}</a></td>
      <td style="font-size: 9pt; vertical-align: middle">{{this.description}}</td>
      <td>{{this.reached_points}} von {{this.max_points}}</td>
    </tr>
    {{/each}}

  </tbody>
</table>
