<script type="text/javascript"></script>
<script>
    
    function storeAnswer() {
        //console.log(document.getElementById("a1").value);

        $.ajax({
        type: "POST",
        url: "/storeAnswer/1/1",
        data: {
            "answer": document.getElementById('a1').value
        },
        success: function(data) {
            if(data.answer) {
                alert("success!")
            } else {
                alert("failed")
            }
        }
    });
        
    }

</script>

<!--<a id="load" class="btn btn-light checkBtn" type="button" href="/getSheetStatus/1" style="display: none" id="n2">Nächste</a></p>-->
<table id="bar">
    <tr>
        <td id="first"> </td>

        <td id="t1">  </td>
        <td id="t2">  </td>
        <td id="t3">  </td>
        <td id="t4">  </td>

        <td id="last"> </td>
    </tr>
</table>
<br><br>
<div class="main-container">

   {{#ifEquals currentExercise undefined 1}}
    <center>
        
    <!--<form id="ex1" action="/storeAnswer/1/1" method="post" class="lead">-->
        <p>Berechne</p>
        0,5 + 0,25 = 
        <input type="text" name="a1" id="a1" onfocus="this.value=''" autofocus required pattern="[0-9]+,?[0-9]*" title="Gib eine Dezimalzahl ein."> 
        <span role="alert" id="c1" style="display: none"></span>
        <br><br>
        <p><button class="btn btn-light checkBtn" id="b1" onclick="storeAnswer()">Prüfen</button>

        <a class="btn btn-light checkBtn" type="button" href="/nextQuestion/1/1" style="display: none" id="n1">Nächste</a></p>

    <!--</form>-->
    </center>
    {{/ifEquals}}

    {{#ifEquals currentExercise 2 2}}
    <center>
    <form action="/storeAnswer/2/1" method="post" id="ex2" class="lead">
        <p>Berechne</p>
        5,1 - 3,5 =
        <input type="text" name="a2" id="a2" onfocus="this.value=''" autofocus required pattern="[0-9]+,?[0-9]*" title="Gib eine Dezimalzahl ein.">
        <span role="alert" id="c2" style="display: none"></span>
        <br><br>
        <p><button class="btn btn-light checkBtn" id="b2">Prüfen</button>
        <a class="btn btn-light checkBtn" type="button" href="/nextQuestion/2/1" style="display: none" id="n2">Nächste</a></p>
    </form>
    </center>
    {{/ifEquals}}

    {{#ifEquals currentExercise 3 3}}
    <center>
    <form action="/storeAnswer/3/1" method="post" id="ex3" class="lead">
        <p>Berechne</p>
        0,4 * 0,4 =
        <input type="text" name="a3" id="a3" onfocus="this.value=''" autofocus required pattern="[0-9]+,?[0-9]*" title="Gib eine Dezimalzahl ein."> 
        <span role="alert" id="c3" style="display: none"></span>
        <br><br>
        <p><button class="btn btn-light checkBtn" id="b3">Prüfen</button>
        <a class="btn btn-light checkBtn" type="button" href="/nextQuestion/3/1" style="display: none" id="n3">Nächste</a></p>


    </form>
    </center>
    {{/ifEquals}}
    

    {{#ifEquals currentExercise 4 4}}
    <center>
    <form action="/storeAnswer/4/1" method="post" id="ex4" class="lead">
        <p>Trage die Dezimalzahl ein.</p>
        1 <div class="frac">
            <span>1</span><span class="s">/</span><span class="bo">2</span>
        </div>
        = 
        <input type="text" name="a4" id="a4" onfocus="this.value=''" autofocus required pattern="[0-9]+,?[0-9]*" title="Gib eine Dezimalzahl ein."> 
            <span role="alert" id="c4" style="display: none"></span>
        </p>
        <p><button class="btn btn-light checkBtn" id="b4">Prüfen</button>
        <a class="btn btn-light checkBtn" type="button" href="/nextQuestion/4/1" style="display: none" id="n4">Nächste</a></p>
    </form>
    </center>
    {{/ifEquals}}

     {{#ifEquals currentExercise 5 5}}
    <center>
    <form action="/storeAnswer/5/1" method="post" id="ex5" class="lead">
        <p>Trage die Dezimalzahl ein.</p>
        3<div class="frac">
            <span>4</span><span class="s">/</span><span class="bo">5</span>
        </div>
        = 
        <input type="text" name="a5" id="a5" onfocus="this.value=''" autofocus required pattern="[0-9]+,?[0-9]*" title="Gib eine Dezimalzahl ein."> 
            <span role="alert" id="c5" style="display: none"></span>
        </p>
        <p><button class="btn btn-light checkBtn" id="b5">Prüfen</button>
        <a class="btn btn-light checkBtn" type="button" href="/nextQuestion/5/1" style="display: none" id="n5">Nächste</a></p>
    </form>
    </center>
    {{/ifEquals}}

     {{#ifEquals currentExercise 6 6}}
    <center>
    <form action="/storeAnswer/6/1" method="post" id="ex6" class="lead">
        <p>Berechne </p>
        0,5 + <div class="frac">
            <span>1</span><span class="s">/</span><span class="bo">2</span>
        </div>
        = 
        <input type="text" name="a6" id="a6" onfocus="this.value=''" autofocus required pattern="[0-9]+,?[0-9]*" title="Gib eine Dezimalzahl ein."> 
            <span role="alert" id="c6" style="display: none"></span>
        </p>
        <p><button class="btn btn-light checkBtn" id="b6">Prüfen</button>
        <a class="btn btn-light checkBtn" type="button" href="/nextQuestion/6/1" style="display: none" id="n6">Nächste</a></p>
    </form>
    </center>
    {{/ifEquals}}

    {{#ifEquals currentExercise 7 7}}
    <center>
    <form action="/storeAnswer/7/1" method="post" id="ex7" class="lead">
        <p>Berechne </p>
        1,25 + <div class="frac">
            <span>1</span><span class="s">/</span><span class="bo">4</span>
        </div>
        = 
        <input type="text" name="a7" id="a7" onfocus="this.value=''" autofocus required pattern="[0-9]+,?[0-9]*" title="Gib eine Dezimalzahl ein."> 
            <span role="alert" id="c7" style="display: none"></span>
        </p>
        <p><button class="btn btn-light checkBtn" id="b7">Prüfen</button>
        <a class="btn btn-light checkBtn" type="button" href="/nextQuestion/7/1" style="display: none" id="n7">Nächste</a></p>
    </form>
    </center>
    {{/ifEquals}}

    



<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
        <h2>Ups, leider falsch.</h2>
        <span class="close">&times;</span>
    </div>
    <div class="modal-body">
      <p>Probier es noch einmal.</p>
    </div>
    <!--<div class="modal-footer">
      <h3>Modal Footer</h3>
    </div>-->
  </div>

</div>


<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript">


  
   /* var input = document.getElementById("a" + {{currentExercise}});
    var btn = document.getElementById("b" + {{currentExercise}});

    var table_cell = document.getElementById("t" + {{currentExercise}});

    var bar = document.getElementById("bar");
    var tds = bar.getElementsByTagName("td");

    //document.getElementById("load").click();

    for (var i = 0; i <= {{currentExercise}}; i++) {
            //tds[i].style.cssText = 'background-color: yellow';
            //tds[i].style.setProperty('background-color', 'yellow', 'important');
            //tds[i].setAttribute('style', 'background-color:yellow !important');
            tds[i].style.backgroundColor = "yellow";

    }
    

    // CORRECT
    if ({{answerGiven}} == {{correctSolution}}) {
        // green ....
        input.value = String({{answerGiven}}).replace(".",",");
        input.style.border = "3px solid green";
        input.style.color = "green";
        input.style.textDecoration = "none";    
        document.getElementById("n" + {{currentExercise}}).style.display = "inline-block";
        btn.style.display = "none";
        //table_cell.style.backgroundColor = "green";

    // WRONG    
    } else {
        //alert("Ups, deine Lösung war falsch. Probier es noch einmal.")
        var correction = document.getElementById("c" + {{currentExercise}});
        input.value = String({{answerGiven}}).replace(".",",");
        input.style.border = "3px solid red";
        input.style.color = "red";
        input.style.textDecoration = "line-through";

        /*correction.style.display = "inline-block";
        correction.style.color = "grey";
        correction.innerHTML = String({{correctSolution}}).replace(".",",");*/

        /*correction.style.display = "inline-block";
        correction.style.color = "grey";
        correction.innerHTML = "Leider falsch, probier es noch einmal.";*/

        /*openModal();
        table_cell.style.backgroundColor = "red";

    }*/




    /*******      MODAL        *******/

    /*var modal =  document.getElementById("myModal");
    // When the user clicks the button, open the modal 
    function openModal() {
       modal.style.display = "block";
    }
    // When the user clicks on <span> (x), close the modal
    document.getElementsByClassName("close")[0].onclick = function() {
        modal.style.display = "none";
    }
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }*/




</script>
