<div class="main-container">

    {{#sheetData}}
    <div id="kkk{{@index}}">
        <center>
            <p><b>Aufgabe {{@index}}:</b> {{{question}}}</p>
            <br>
            {{{exercise}}}
            <input type="text" name="a{{@index}}" id="a{{@index}}" onfocus="this.value=''" autofocus required pattern="[0-9]+,?[0-9]*" title="Gib eine Dezimalzahl ein." autocomplete="off"> 
            <br>
            <span role="alert" id="c{{@index}}" style="display: none; color: red"></span>
            <br>
            <button class="btn btn-secondary" id="b{{@index}}" onclick="storeAnswer({{@index}})">Prüfen</button>

            <a class="btn btn-success" type="button" onclick="nextQuestion({{@index}})" style="display: none" id="n{{@index}}">Nächste</a>
        </center>
    </div>



    <!-- The Modal -->
    <div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <h2>Ups, leider falsch.</h2>
            <span class="close">&times;</span>
        </div>
        <div class="modal-body">
            <p><center>
                <button type="button" class="btn" style="background-color:rgba(175, 57, 57, 0.5)" onclick="closeModal()"><i class="bi bi-arrow-clockwise"></i> &nbsp; Nochmal probieren</button>
                <button type="button" class="btn" style="background-color:rgba(214, 189, 61, 0.5)" onclick="showHelp()"><i class="bi bi-question-diamond"></i> &nbsp;Hilfe</button>
            </center></p>
        </div>
        <div class="modal-footer" style="display: none">
            <h3>{{{hint}}}</h3>
        </div>
    </div>
    </div>



    {{/sheetData}}
    </div>


<br>
<table id="bar">
    <tr>
        <td id="first"> </td>

        <td id="t1">  </td>
        <td id="t2">  </td>
        <td id="t3">  </td>
        <td id="t4">  </td>

        <td id="last"> </td>
    </tr>
</table>




<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript">

    /******** ON PAGE LOAD DO .... **********/

    var modal =  document.getElementById("myModal");
    var input = document.getElementById('a0');    
    var notes = document.getElementById('c0');
    var checkBtn = document.getElementById('b0');
    var nextBtn = document.getElementById('n0');
    var entered = false;

    /////// HARDCODED 6 !!!!!!! CHANGE
    for (var i = 1; i < 6; i++) {
        document.getElementById("kkk" + i).style.display = "none";
    }
    /*********  FUNCTIONS ***********/
    

    function storeAnswer(currentExercise) {
        input = document.getElementById('a' + currentExercise);
        notes = document.getElementById('c' + currentExercise);
        checkBtn = document.getElementById("b" + currentExercise);
        nextBtn = document.getElementById("n" + currentExercise);

        $.ajax({
            type: "POST",
            url: "/storeAnswer/" + currentExercise + "/1",
            data: {
                "answerGiven": input.value.replace(",","."),
                "currentExercise": currentExercise,
            },
            success: function(data) {
                if (data.answerGiven == data.correctSolution) {

                    // green ....
                    input.value = String(data.answerGiven).replace(".",",");
                    input.style.backgroundColor = "rgba(56, 170, 67, 0.5)";
                    checkBtn.style.display = "none";
                    nextBtn.style.display = "inline-block";

                } else {
                    openModal();
                    //$('#c' + currentExercise).replaceWith(String(data.correctSolution).replace(".",","));
                    //$('#tt').append(data.results[0].name);
                }
            }
        });
    }

    function nextQuestion(currentExercise) {
        $.ajax({
            type: "POST",
            url: "/nextQuestion/" + currentExercise + "/1",
            data: {
                "currentExercise": currentExercise,
            },
            success: function(data) {
                document.getElementById("kkk" + currentExercise).style.display = "none";
                document.getElementById("kkk" + (currentExercise+1)).style.display = "block";
                //document.getElementsByClassName('modal-footer')[0].style='none';
            }
        });
    }

    function openModal() {
       modal.style.display = "block";
    }


    function showHelp() {
        document.getElementsByClassName('modal-footer')[0].style='inline-block';
    }


    /****** Event Listeners ****/
    input.addEventListener("keypress", function(event) {
        if (event.key === "Enter") {
            if(!entered) {
                event.preventDefault();
                checkBtn.click(); 
                entered = true;
            } else {
                event.preventDefault();
                nextBtn.click(); 
                entered = false;
            }
        }
    });


    // When the user clicks on <span> (x), close the modal
    document.getElementsByClassName("close")[0].onclick = function() {
        closeModal();
    }
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            closeModal();
        }
    }

    window.addEventListener("keypress", function(event) {
        if (event.key === "Enter") {
            //alert(document.querySelectorAll('.modal.in').length > 0);
            event.preventDefault();
            closeModal();
        }
    });
   


    function closeModal() {
        modal.style.display = "none";
        //notes.style.display = "none";
        input.value = "";
        input.focus();
    }
</script>


