<br>
<center>
    <table>
        <tr id="bar">

        </tr>
    </table>
</center>
<br><br>

<div class="main-container">

    {{#sheetData}}
    <div id="exDivBox{{@index}}">
        <center>
            <p><b>Aufgabe {{@index}}:</b> {{{question}}}</p>
            <br>
            {{{exercise}}}
            <input type="text" name="input{{@index}}" id="input{{@index}}" onfocus="this.value=''" autofocus required pattern="[0-9]+,?[0-9]*" title="Gib eine Dezimalzahl ein." autocomplete="off"> 
            <br>
            <span role="alert" id="correction{{@index}}" style="display: none; color: red"></span>
            <br>
            <button class="btn btn-secondary" id="checkBtn{{@index}}" onclick="storeAnswer({{@index}})">Prüfen</button>
            <a class="btn btn-success" type="button" onclick="nextQuestion({{@index}})" style="display: none" id="nextBtn{{@index}}">Nächste</a>
        </center>
    </div>



    <!-- The Modal -->
    <div id="myModal{{@index}}" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <h2>Ups, leider falsch.</h2>
                <span class="close" onclick="closeModal()">&times;</span>
            </div>
            <div class="modal-body">
                <p><center>
                    <button type="button" class="btn" style="background-color:rgba(175, 57, 57, 0.5)" onclick="closeModal({{@index}})"><i class="bi bi-arrow-clockwise"></i> &nbsp; Nochmal probieren</button>
                    <button type="button" class="btn" style="background-color:rgba(214, 189, 61, 0.5)" onclick="showHelp({{@index}})"><i class="bi bi-question-diamond"></i> &nbsp;Hilfe</button>
                </center></p>
            </div>
            <div class="modal-footer" id="modal-footer{{@index}}" style="display: none">
                <h3>{{{hint}}}</h3>
            </div>
        </div>
    </div>
    {{/sheetData}}
</div>





<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript">
    /******** ON PAGE LOAD DO .... **********/
    var entered = false;
    var modalOpen = false;
    var currentExercise_global = 0;
    var myPoints_global = [];
    var bar = document.getElementById("bar");

    /////// HARDCODED 6 !!!!!!! CHANGE
    for (var i = 1; i < 6; i++) {
        document.getElementById("exDivBox" + i).style.display = "none";
    }
    /*********  FUNCTIONS ***********/
    
    function storeAnswer(currentExercise) {
        var input = document.getElementById('input' + currentExercise);
        var checkBtn = document.getElementById('checkBtn' + currentExercise);
        var nextBtn = document.getElementById('nextBtn' + currentExercise);
        currentExercise_global = currentExercise;
        $.ajax({
            type: "POST",
            url: "/storeAnswer/" + currentExercise + "/1",
            data: {
                "answerGiven": input.value.replace(",","."),
                "currentExercise": currentExercise,
            },
            success: function(data) {
                if (data.answerGiven == data.correctSolution) {
                    // green ....
                    input.value = String(data.answerGiven).replace(".",",");
                    input.style.backgroundColor = "rgba(56, 170, 67, 0.5)";
                    checkBtn.style.display = "none";
                    nextBtn.style.display = "inline-block";
                    entered = true;
                } else {
                    openModal(document.getElementById('myModal' +  currentExercise));
                    //$('#c' + currentExercise).replaceWith(String(data.correctSolution).replace(".",","));
                    //$('#tt').append(data.results[0].name);
                }
            }
        });
    }
    function nextQuestion(currentExercise) {
        bar.innerHTML = "";
        $.ajax({
            type: "POST",
            url: "/nextQuestion/" + currentExercise + "/1",
            data: {
                "currentExercise": currentExercise,
            },
            success: function(data) {
                currentExercise_global = currentExercise + 1;
                document.getElementById("exDivBox" + currentExercise).style.display = "none";
                document.getElementById("exDivBox" + currentExercise_global).style.display = "block";
                document.getElementsByClassName('modal-footer')[0].style.display ='none';
                document.getElementById("input" + currentExercise_global).focus();
                entered = false;

                //console.log(data.numberOfExercises);
                myPoints_global = [];
                $.each(data.results[0], function(index, element) {
                    if(/^[p]/.test(index)) {
                        myPoints_global.push(element);
                    }
                });
                for (var i = 0; i < myPoints_global.length; i++) {
                    if (i < currentExercise_global) {
                        if (myPoints_global[i]) {
                            bar.innerHTML += "<td class='greenCell'></td>";
                        } else {
                            bar.innerHTML += "<td class='redCell'></td>";
                        }
                    } else {
                        bar.innerHTML += "<td class='greyCell'></td>";
                    }
                }
            }
        });
    }
    function openModal(modal) {
        modal.style.display = "block";
        modal.focus();
        modalOpen = true;
    }
    function showHelp(currentExercise) {
        document.getElementById('modal-footer'+currentExercise).style='inline-block';
        modalOpen = true;
    }
    
    function actOnEnterKey() {
        if (event.key === "Enter") {
            if (modalOpen) {
                closeModal();
            } else {
                if(!entered) {
                    document.getElementById("checkBtn" + currentExercise_global).click(); 
                } else {
                    document.getElementById("nextBtn" + currentExercise_global).click(); 
                }
            }
        } 
    }
    /****** Event Listeners ****/
    window.addEventListener("keypress", function(event) {
        actOnEnterKey();
    });
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == document.getElementById("myModal" + currentExercise_global)) {
            closeModal();
        }
    }
    function closeModal() {
        document.getElementById("myModal" + currentExercise_global).style.display = "none";
        modalOpen = false;
        var input = document.getElementById("input" + currentExercise_global);
        input.value = "";
        input.focus();
    }
</script>